h1 {
  text-align: right;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 2px solid coral;
  width: 100%;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission h2:hover {
  border-bottom: 2px solid greenyellow;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.Signup,
.Login,
.Home,
.Dashboard {
  text-decoration: none;
  padding: 5px;
  list-style-type: none;
  color: aliceblue;
  font-size: 1.5rem;
}

.Signup:hover {
  color: greenyellow;
}

.Login:hover {
  color: greenyellow;
}

.Home:hover {
  color: greenyellow;
}

.Dashboard:hover {
  color: greenyellow;
}

li {
  list-style-type: none;
}

.instructions li,
.steps li {
  margin-bottom: 10px;
}

.steps li:hover {
  border-bottom: 2px solid purple;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  max-width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
  background-color: green;
  color: aliceblue;
}

button:hover {
  background-color: aliceblue;
  color: green;
}
